.tips{
    text-align: left;
    margin:0 80px;
    padding: 20px;
}
.healthtips{
    background-color: rgb(206, 206, 198);
    margin: 0;
}
.tips img{
    width: 60%;
    height: 400px;
    margin-bottom: 10px;
}
.tips p{
    width: 60%;
}