.Form input{
    padding: 5px 100px;
    margin: 2px;
    background-color: rgb(207, 199, 172);
    border-radius: 5px;
    text-align: left;
    width: 25%;
   
   
}
.Form{
    background-color: rgba(109, 162, 184, 0.986);
    padding: 10px;
    color: rgb(228, 226, 218);
    height: 500px;
    width: 100%;
    
}
.Form button{
    background-color: rgb(197, 196, 183);
   
}